<h2>Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th>Designation</th>
            <th>State</th>
            <th>City</th>
            <th>Project</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let employee of employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.state}}</td>
            <td>{{employee.city}}</td>
            <td>{{employee.project}}</td>
            <td>{{employee.department}}</td>

            <!-- <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button> -->


        </tr>
    </tbody>
</table>