
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
        </li>

        <li class = "nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Create Employee</a>
        </li>

    </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
<!-- <app-employee-list></app-employee-list> -->
<router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved @Apoorva Pvt. Ltd.</span>
    </div>
</footer>
