<div class="col-md-5 offset-md-2">
<h3> Create Employee Form</h3>
<form (ngSubmit)= "onSubmit()">
     
    
    <div class="form-group">
         <label> First Name </label>
         <input type="text" class ="form-control" id = "firstName" 
         [(ngModel)]="employee.firstName" name="firstName" required>
    </div>
    <div class="form-group">
        <label> Last Name </label>
        <input type="text" class ="form-control" id = "lastName" 
        [(ngModel)]="employee.lastName" name="lastName" required>
   </div>
   <div class="form-group">
        <label> Designation </label>
        <input type="text" class ="form-control" id = "designation" 
        [(ngModel)]="employee.designation" name="designation" required>
    </div>
    
    <div class="form-group">
    <label> Department </label>
    <select  class="dropdown" id="department" name="department" [(ngModel)]="employee.department" [ngModelOptions]="{ standalone: true }" required>
        <option *ngFor="let department of departmentOption" [value]="department.departmentName " >{{ department.departmentName}}
</option>
      </select>
    </div>
    
        

     <div class="form-group">
     <label> Project </label>
      <select class="dropdown" id="project" name="project"[(ngModel)]="employee.project" [ngModelOptions]="{ standalone: true }"required>
          <option *ngFor="let project of projectOption" [value]="project.projectName">{{ project.projectName }}</option>
        </select>
    </div>

    <div class="form-group">
    <label> State </label>
    <select class="dropdown" id="state" name="state"[(ngModel)]="employee.state" [ngModelOptions]="{ standalone: true }"required
    (ngModelChange)="handleStateChange($event)" >
        <option *ngFor="let state of stateOption" [value]="state.id">{{ state.stateName }} </option>
      </select>
    </div>
    
    <div class="form-group">
      <label> City </label>
      <select class="dropdown" id="city" name="city" [(ngModel)]="employee.city" [ngModelOptions]="{ standalone: true }"required>
          <option *ngFor="let city of cityOption " [value]="city.cityName"> {{city.cityName}}</option>
        </select>
    </div>

    <div class="form-group">
        <label> Salary </label>
        <input type="number" class ="form-control" id = "salary" 
        [(ngModel)]="employee.salary" name="salary" required>
    </div>


   <button class="btn btn-success" type="submit">Submit </button>


</form>
</div>