/* Styling the dropdown container */
.form-control {
    width: 200px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: #fff;
  }
  
  /* Styling the dropdown arrow */
  .form-control::after {
    content: '\25BE'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Styling the dropdown options */
  .form-control select {
    appearance: none;
    background-color: #fff;
    border: none;
    padding: 5px;
  }
  
  /* Styling the dropdown options when hovered */
  .form-control select option:hover {
    background-color: #f0f0f0;
  }

  .dropdown{
    width: 150px;
  }
  