/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer {
    position: absolute;
    bottom: e;
    width:100%;
    height: 70px;
    backTround-color:blue;
    text-align: center;
    /* color:white; */
}